.theme-trading-pro .rdt_TableCell {
    background: #1E293B;
    color: #fffbff;
}

.theme-trading-pro .Search_btn {
    background: #1E293B;
    color: #fffbff;

}

.theme-trading-pro .searchBd {
    border: 1px solid white;
}

.theme-trading-pro .rdt_Pagination {
    background: #1E293B;
    color: #fffbff;
}

.theme-trading-pro .cvFfSA {
    background: #1E293B;
    color: #fffbff;
}

.theme-trading-pro aside {
    box-shadow: inset rgba(165, 154, 154, 0.082) 0.95px 1.95px 18px;
    background-color: #151d29;
    color: white !important;
}

.theme-trading-pro .Main-Header {
    background-color: #0F172A;
}

.theme-trading-pro .dashBoardSuper {
    background-color: #111827;
}

aside {
    padding: 10px 5px;
}

.theme-trading-light aside {
    box-shadow: inset rgba(189, 112, 112, 0.486) 0.95px 1.95px 18px;
    background-color: #0284C7;
    color: #FFFFFF !important;
    border: none !important;
}

.theme-trading-light .Main-Header {
    box-shadow: inset rgba(189, 112, 112, 0.212) 0.95px 1.95px 18px;
    background-color: #0284C7;
    color: #1e293b;

}

.theme-trading-light .dashBoardSuper {
    background-color: #F9FAFB;
}

.theme-trading-light .card {
    background-color: #FFFFFF;
    color: #000000 !important;
}

/* .theme-trading-light .transition-colors {
    color: #FFFFFF !important;
} */

.theme-trading-light .dashBoardSuper {
    background-color: #f1f1f198;
    color: #000;
}

.theme-trading-light .AllUsers_Style {
    background-color: #f1f1f198;
    color: #000000;
}

.theme-trading-light .rdt_TableCell {
    background: #f1f1f1c0 !important;
    color: #000000;
}

.theme-trading-light .rdt_Pagination {
    background-color: #f1f1f198 !important;
    color: #000000;
}

.theme-trading-light .rdt_TableHeadRow {
    background-color: #3a8ddfb4 !important;
    color: #030303;
}

.theme-trading-light .Content_Style {
    background-color: #0284c7 !important;
    color: #fffbff;
}


/* Drak Theme Css */

.theme-trading-pro .profile_dropdown {
    background-color: #111827;
    color: #fffbff !important;
}

.theme-trading-light .profile_dropdown {
    background: white;
    color: black;
}

.theme-trading-pro .Notification_dropdown {
    background: #111827;
    color: white;
}

.theme-trading-light .Notification_dropdown {
    background: white;
    color: #000;
}

.custom-swal-popup {
    width: 300px !important;
    min-height: 180px !important;
    border-radius: 1rem solid gray !important;
    background-color: #111827;
    color: white;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15) !important;

}
.custom-swal-popup1 {
    width: 400px !important;
    min-height: 180px !important;
    border-radius: 1rem solid gray !important;
    /* background-color: #111827; */
    color: black;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15) !important;

}


.theme-trading-light .custom-swal-popup {
    background-color: white;
    color: black;
}

.theme-trading-pro .custom-swal-popup {
    background-color: #111827;
    color: white;
}

.theme-trading-pro .Add_User_Style {
    background-color: #111827;
    color: #fffbff !important;
}

.theme-trading-pro .Form-style {
    background-color: #111827;
    color: #fffbff !important;
}

.theme-trading-pro .Add-client-style {
    background-color: #111827;
    color: white;
}

.theme-trading-pro .input-Add {
    background-color: #111827;
}


.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.theme-trading-pro .ck {
    background-color: #111827 !important;
    color: white !important;
}

.theme-trading-pro .Content_Style {
    background-color: #111827 !important;
}


.Usertheme {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.Usertheme .wrapper {
    width: 80vw;
    margin: 0px auto;
}

/* 
.theme-trading-pro .Anuj333 {
    background: #0F172A;
} */

/* .theme-trading-pro .Usertheme {
    background: linear-gradient(180deg, #F3F4F6, #FFFFFF);
} */

/* .theme-trading-pro header {
    background-color: #0F172A;
} */

.theme-trading-pro {

    .Anuj333 {
        background: #0F172A;
    }

    header {
        background-color: #172341;
        color: #F9FAFB;
    }

    .TAb_style {
        background-color: #172341;
        color: #F9FAFB;
    }

    .card_style {
        background-color: #172341;
        color: #F9FAFB;
    }

    .Footer_style {
        background-color: #172341;
        color: #F9FAFB;
    }

    .icon_style {
        color: white;
    }

    .PricePool_style {
        background-color: #172341;
        color: #F9FAFB;
    }

    .Card-style {
        background-color: #172341;
        color: #F9FAFB;
    }

    .hitstory_style {
        background-color: #172341;
        color: #F9FAFB;
    }

    .Usertheme {
        background-color: #172341;
        color: #F9FAFB;
    }

}


.theme-trading-light .Coupons_style{
    background-color: white;
    color: #000;
}
.theme-trading-light .client-style{
    background: white;
    color: #000;
}

aside .w-16 .anuj{
  margin-left: 0 !important;
}

.theme-trading-pro .sms-style{
   background-color: #172341;
        color: #F9FAFB;
}


.client-style{
    border-radius: 10px;
}